.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsfeed {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
